
main[b-yu7g06b3ii] {
    flex: 1;
}

header[b-yu7g06b3ii]{
    background-color: blueviolet;
    color: white;

}

.headercontainer[b-yu7g06b3ii]{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-left: 1vh;
    padding-right: 5vh;
    padding-top: 1vh;
    padding-bottom: 1vh;
    align-items: center;
}

.headercontainer a[b-yu7g06b3ii]{
    color: white;
    font-size: 2em;
    text-decoration: none;
}