
header[b-yu7g06b3ii] { 


}
main[b-yu7g06b3ii] {
    flex: 1;
}

.headercontainer[b-yu7g06b3ii]{ 
    padding-left: 2vw;
    padding-right: 5vw; 
    padding-top: 1vh; 
    padding-bottom: 1vh;
    display: flex;
    flex-direction: row; 
    justify-content: space-between; 
    align-items: center;

}