
main {
    flex: 1;
}

header{
    background-color: blueviolet;
    color: white;

}

.headercontainer{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-left: 1vh;
    padding-right: 5vh;
    padding-top: 1vh;
    padding-bottom: 1vh;
    align-items: center;
}

.headercontainer a{
    color: white;
    font-size: 2em;
    text-decoration: none;
}