/* _content/front/Pages/Login.razor.rz.scp.css */
.registercontainer[b-xqazf780xr]{ 
    padding: 10px;
}
/* _content/front/Shared/MainLayout.razor.rz.scp.css */

main[b-yu7g06b3ii] {
    flex: 1;
}

header[b-yu7g06b3ii]{
    background-color: blueviolet;
    color: white;

}

.headercontainer[b-yu7g06b3ii]{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-left: 1vh;
    padding-right: 5vh;
    padding-top: 1vh;
    padding-bottom: 1vh;
    align-items: center;
}

.headercontainer a[b-yu7g06b3ii]{
    color: white;
    font-size: 2em;
    text-decoration: none;
}
/* _content/front/Shared/NavMenu.razor.rz.scp.css */
.navbar-toggler[b-u6fkk8rcl2] {
    background-color: rgba(255, 255, 255, 0.1);
}

.top-row[b-u6fkk8rcl2] {
    height: 3.5rem;
    background-color: rgba(0,0,0,0.4);
}

.navbar-brand[b-u6fkk8rcl2] {
    font-size: 1.1rem;
}

.oi[b-u6fkk8rcl2] {
    width: 2rem;
    font-size: 1.1rem;
    vertical-align: text-top;
    top: -2px;
}

.nav-item[b-u6fkk8rcl2] {
    font-size: 0.9rem;
    padding-bottom: 0.5rem;
}

    .nav-item:first-of-type[b-u6fkk8rcl2] {
        padding-top: 1rem;
    }

    .nav-item:last-of-type[b-u6fkk8rcl2] {
        padding-bottom: 1rem;
    }

    .nav-item[b-u6fkk8rcl2]  a {
        color: #d7d7d7;
        border-radius: 4px;
        height: 3rem;
        display: flex;
        align-items: center;
        line-height: 3rem;
    }

.nav-item[b-u6fkk8rcl2]  a.active {
    background-color: rgba(255,255,255,0.25);
    color: white;
}

.nav-item[b-u6fkk8rcl2]  a:hover {
    background-color: rgba(255,255,255,0.1);
    color: white;
}

@media (min-width: 641px) {
    .navbar-toggler[b-u6fkk8rcl2] {
        display: none;
    }

    .collapse[b-u6fkk8rcl2] {
        /* Never collapse the sidebar for wide screens */
        display: block;
    }
}
